-
  function total(a, b) {
    return (a.price ? a.price * quantity : a) + b.price * b.quatity;
  }
  
  function format(price) {
    return price.toFixed(2);
  }

  function cart_quantity() {
    return cart.reduce(function(a, b) { return (a.quantity ? a.quantity : a) + b.quatity; })
  }
